.wrapper {
    display: flex;
    height: 90rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: black;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;

    :hover {
        border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
    }
}
