.search {
    --search-border-radius: 10px;
    --search-height: 40px;

    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: var(--search-height);
    padding: 0 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.15);
    border: 1.5px solid transparent;
    border-radius: var(--search-border-radius);

    input {
        flex: 1;
        height: 100%;
        padding-right: 20px;
        color: var(--black);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    &:focus-within {
        border-color: rgba(29, 30, 36, 0.8);
    }
}

.clear,
.loading {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.38);
    background-color: transparent;
    svg {
        width: 22px;
        height: 22px;
    }
}

.clear {
    color: red;
    :hover {
        color: white;
    }
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
