.wrraper {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 10rem;
}

.sidebar {
    width: var(--default-layout-width-sidebar);
    // background-color: antiquewhite;
}

.content {
    flex: 1;
    margin-left: 5px;
    // background-color: blue;
}

@media (max-width: 1000px) {
    .content {
        display: none;
    }
}
