.wrapper {
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}
