.wrapper {
    min-width: 100px;
    width: 100%;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--hover-primary);
    }
}

.warning {
    color: var(--white);
    background-color: #f0ad4e;
    border-color: orange;

    &:hover {
        border-color: var(--black);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(217, 4, 29);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(21, 175, 218, 0.3);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    border-radius: 999px;
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 124;
    padding: 14px 16px;
}
