.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px 12px;
    font-size: var(--default-medium-font-size);
    font-weight: var(--default-medium-font-weight);
    color: var(--color-disable);
    display: flex;
    align-items: center;
    button {
        cursor: pointer;
        padding: 0px 10px;
        margin-left: auto;
        color: var(--color-disable);
        svg {
            width: var(--default-mini-icon-size);
            height: var(--default-mini-icon-size);
        }
    }
}

.item-wrapper {
    padding: 2px 5px;
    margin: 3px 5px;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    font-weight: var(--default-medium-font-weight);
    font-size: var(--default-medium-font-size);
    color: var(--color-text);
    svg {
        margin-left: auto;
        margin-right: var(--default-medium-zone);
        width: var(--default-small-icon-size);
        height: var(--default-small-icon-size);
    }
}
