@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #006ce8;
    --hover-primary: #0f519c;
    --black: #000;
    --white: #fff;
    --color-text: #333;
    --color-disable: rgba(22, 24, 35, 0.5);
    // Default layout
    --default-layout-header-height: 90px;
    --default-layout-width: 2350px;
    --default-layout-height: 1150px;
    --default-layout-width-sidebar: 410px;
    --default-mini-zone: 5px;
    --default-small-zone: 8px;
    --default-medium-zone: 16px;
    --default-large-zone: 24px;
    --default-small-font-size: 1.6rem;
    --default-medium-font-size: 2rem;
    --default-large-font-size: 2.4rem;
    --default-small-font-weight: 400;
    --default-medium-font-weight: 600;
    --default-large-font-weight: 800;
    --default-mini-icon-size: 1.8rem;
    --default-small-icon-size: 2.8rem;
    --default-medium-icon-size: 3.6rem;
    --default-large-icon-size: 4.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--default-small-font-size);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
