@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #969;
    --hover-primary: #869;
    --black: #000;
    --white: #fff;
    --textColor: #333;
    // Default layout
    --default-layout-header-heigh: 90px;
    --default-layout-width: 1720px;
    --default-layout-width-sidebar: 356px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--textColor);
    text-decoration: none;
}
