.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 5px;
    width: var(--default-layout-width);
    min-height: var(--default-content-height);
    display: flex;
}

.content {
    flex: 1;
    min-height: 1000px;
}
