.wrapper {
    display: flex;
    flex-direction: column;
    height: var(--default-layout-height);
}

.header {
    margin: 10px 0px;
    min-height: 5rem;
}

.friend_box {
    border: thick double black;
    overflow-y: overlay;
    flex: 1;
    // min-height: 95rem;
    // max-height: 95rem;
    //background-color: aqua;
}

.header_search {
    margin-left: 4px;
    padding: 4px;
    font-size: small;
    font-weight: bold;
}

.friend_card {
    margin: 10px 2px;
    display: flex;
    align-items: center;
}

.card_img {
    margin-left: 8px;
    width: 52px;
    img {
        height: 5rem;
        border-radius: 50%;
    }
}

.card_info {
    width: 280px;
    margin-left: 8px;
}

.card_name {
    width: 100%;
    font-size: large;
}

.card_detail {
    width: 100%;
    font-size: small;
}

.plus_button {
    margin: 0px 10px;
    padding: 5px;
    // border: solid 1px black;
    // border-radius: 90px;
    background-color: transparent;
    color: black;
    svg {
        width: 30px;
        height: 30px;
    }
    :hover {
        color: white;
    }
}

.cancel_button {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 5px;
    background-color: transparent;
    color: black;
    svg {
        width: 30px;
        height: 30px;
    }
    :hover {
        color: white;
    }
}
