.wrapper {
    display: flex;
    flex-direction: column;
    height: var(--default-layout-height);
}

.header {
    margin: 10px 0px;
    min-height: 5rem;
}

.friend_box {
    border: thick double black;
    overflow-y: overlay;
    flex: 1;
}

.aim-user {
}

.header_search {
    margin-left: 4px;
    padding: 4px;
    font-size: small;
    font-weight: bold;
}

.friend_card {
    margin: 10px 2px;
    display: flex;
    align-items: center;
}

.non-seen {
    font-weight: bold;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

.card_img {
    margin-left: 8px;
    width: 52px;
    img {
        height: 5rem;
        border-radius: 50%;
    }
}

.card_content {
    width: 280px;
    display: flex;
    align-items: center;
}

.card_info {
    width: 200px;
}

.info_name {
    margin-left: 8px;
    font-size: large;
}

.info_time {
    margin-left: auto;
}

.info_detail {
    margin-left: 8px;
    width: 100%;
    font-size: small;
    display: flex;
}

.info_detail_count_income {
    margin-left: auto;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: solid red 1px;
    border-radius: 90px;
    background-color: red;
    color: white;
}

.card_action {
    width: 80px;
}

.plus_button {
    margin: 0px 10px;
    padding: 5px;
    background-color: transparent;
    color: black;
    svg {
        width: 30px;
        height: 30px;
    }
    :hover {
        color: white;
    }
}

.cancel_button {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 5px;
    background-color: transparent;
    color: black;
    svg {
        width: 30px;
        height: 30px;
    }
    :hover {
        color: white;
    }
}
