.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
    --default-width-income-call: 70rem;
    --default-width-notification-area: 38rem;
    --default-width-setting-area: 26rem;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
        z-index: 1;
    }
}

.logo-area {
    img {
        height: var(--default-layout-header-height);
    }
}

.income-call {
    width: var(--default-width-income-call);
}

.avatar_user {
    img {
        height: calc(var(--default-layout-header-height) / 3 * 2);
        border-radius: 50%;
    }
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    padding: 4px 10px;
    button {
        cursor: pointer;
        svg {
            width: var(--default-medium-icon-size);
            height: var(--default-medium-icon-size);
        }
    }
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: var(--default-small-font-size);
    font-weight: var(--default-medium-font-weight);
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.notification-area {
    width: var(--default-width-notification-area);
    color: var(--white);
}

.notification-title {
    padding: 5px 12px;
    font-size: var(--default-medium-font-size);
    font-weight: var(--default-medium-font-weight);
    color: var(--color-disable);
}

.notification-notice {
    padding: 0px 12px;
    color: rgba(22, 24, 35, 0.8);
    font-size: var(--default-medium-font-size);
    font-weight: var(--default-small-font-weight);
}

.notification-item {
    display: flex;
    align-items: center;
}

.notification-image {
    margin-left: var(--default-small-zone);
    display: flex;
    img {
        height: 5rem;
        border-radius: 50%;
    }
}

.notification-info {
    flex: 1;
    color: var(--color-text);
    margin-left: var(--default-small-zone);
}

.notification-name {
    font-size: var(--default-medium-font-size);
}

.notification-content {
    font-size: var(--default-small-font-size);
}

.notification-action-area {
    display: flex;
    padding: var(--default-small-zone);
    button {
        background-color: transparent;
        + button {
            margin-left: var(--default-small-zone);
        }
        svg {
            width: var(--default-small-icon-size);
            height: var(--default-small-icon-size);
        }
        :hover {
            color: white;
        }
    }
}

.button-accept {
    color: green;
}

.button-cancel {
    color: red;
}

.setting-area {
    width: var(--default-width-setting-area);
    color: var(--white);
}

@media (max-width: 40rem) {
    .inner {
        width: var(--default-min-width-resize-size);
    }
}

@media (min-width: 40rem) and (max-width: 70rem) {
    .inner {
        width: var(--default-medium-width-resize-size);
    }
}
