.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    img {
        height: var(--default-layout-header-height);
    }
}

.avatar_user {
    img {
        height: calc(var(--default-layout-header-height) / 3 * 2);
        border-radius: 50%;
    }
}

.income-call {
    width: 700px;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.notification-area {
    width: 36rem;
}

.notification-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.notification-item {
    display: flex;
}

.notification-image {
    margin-left: 8px;
    width: 52px;
    img {
        height: 5rem;
        border-radius: 50%;
    }
}

.notification-info {
    width: 280px;
    margin-left: 8px;
}

.notification-name {
    width: 100%;
    font-size: large;
}

.notification-content {
    width: 100%;
    font-size: small;
}

.notification-action-area {
    display: flex;
    margin: 0px 10px;
    button {
        background-color: transparent;
        + button {
            margin-left: 10px;
        }
        svg {
            width: 22px;
            height: 22px;
        }
        :hover {
            color: white;
        }
    }
}

.plus_button {
    color: green;
}

.cancel_button {
    color: red;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}
