.wrapper {
    height: var(--default-layout-height);
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

.live-area {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-area {
    height: 100%;
    flex: 3;
    video {
        height: 100%;
        width: 100%;
    }
}

.chat-area {
    height: 100%;
    border: double var(--primary) 5px;
    flex: 1;
}

.action-area {
    margin-top: 10px;
    height: 10%;
}
