.wrapper {
    display: flex;
    height: var(--default-layout-height);
    background-image: url('../../../public/assets/images/background-login.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.content-side {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    * {
        z-index: 0;
    }
}

.background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--default-blur-background-color);
    opacity: var(--default-light-blur-opacity);
    filter: blur(var(--default-blur-value));
}
.header {
    font-size: xx-large;
}
.title {
    font-size: x-large;
}

.box-input {
    position: relative;
    display: flex;
    align-items: center;
    margin: 8px;
}

.lable {
    font-size: 1.8rem;
    position: absolute;
    width: 160px;
    left: 0px;
}

.input-text {
    margin-left: 140px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.box-submit {
    margin: 8px;
    width: 360px;
}

.box-link {
    display: flex;
}

.link {
    margin-left: 5px;
    color: var(--default-color-link-a);
}

.img-side {
    flex: 1;
    background-color: var(--black);
    opacity: var(--default-dark-blur-opacity);
    filter: blur(var(--default-blur-value));
}
