.wrapper {
    display: flex;
    height: var(--default-layout-height);
    justify-content: center;
    padding-top: 50px;
    --default-width-input: 4rem;
}

.sidebar {
    padding: 20px 10px;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_avatar {
    display: flex;
    justify-content: center;
    img {
        height: 20rem;
        width: 20rem;
        border-radius: 90px;
    }
}

.user_name {
    margin: var(--default-medium-zone);
    display: flex;
    justify-content: center;
    font-weight: var(--default-large-font-weight);
    font-size: var(--default-large-font-size);
}

.active_button_avatar {
    margin: var(--default-small-zone);
    width: 50%;
}

.content {
    padding: var(-default-large-zone);
    flex: 7;
}

.header_content {
    font-size: var(--default-xlarge-font-size);
}

.info_area {
    margin: var(--default-medium-zone);
}

.info_pack + .info_pack {
    margin-top: var(--default-small-zone);
}

.lable {
    width: 100%;
    font-size: var(--default-small-font-size);
    font-weight: var(--default-medium-font-weight);
}

.input {
    display: flex;
    align-items: center;
    margin: 2px 0px;
    height: var(--default-width-input);
    width: 70%;
    border: solid rgba(29, 30, 36, 0.3) 1px;
    border-radius: 10px;
    input {
        padding-left: 20px;
        height: 100%;
        flex: 6;
        background-color: transparent;
        font-size: var(--default-small-font-size);
        color: var(--black);
    }

    &:focus-within {
        border-color: rgba(29, 30, 36, 0.8);
    }
}

.disabled {
    background-color: rgba(29, 30, 36, 0.2);
}

.old_property {
    display: flex;
    align-items: center;
    padding-left: 5px;
    flex: 4;
    background-color: transparent;
    font-size: var(--default-mini-font-size);
    color: rgba(29, 30, 36, 0.8);
    input {
        padding: 0px 10px;
        flex: 8;
    }
}

.icon_check {
    flex: 2;
    display: flex;
    justify-content: center;
    svg {
        width: var(--default-small-icon-size);
        height: var(--default-small-icon-size);
        color: red;
    }
}

.active_area {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    padding: 0px 20px;
}

.flex_input {
    display: flex;
    align-items: center;
}

.lable_password {
    width: 100%;
    font-size: var(--default-mini-font-size);
    font-weight: var(--default-medium-font-weight);
    color: red;
}

.input_password {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    height: var(--default-width-input);
    width: 70%;
    border: solid rgba(29, 30, 36, 0.3) 1px;
    border-radius: 10px;
    input {
        padding-left: 20px;
        height: 100%;
        flex: 6;
        background-color: transparent;
        font-size: var(--default-mini-icon-size);
        color: var(--black);
    }

    &:focus-within {
        border-color: rgba(29, 30, 36, 0.8);
    }
}

.active_button {
    width: 20%;
}

.change_password {
    border-width: 2px;
    border-color: red;
}
