.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 5px;
    width: var(--default-layout-width);
    height: var(--default-layout-height);
}

.load {
    // Default var child screen
    --default-light-blur-opacity: 0.1;
    --default-dark-blur-opacity: 0.2;
    --default-blur-background-color: rgba(0, 229, 255, 0.877);
    --default-blur-value: 90px;
    --default-color-link-a: blue;
}
