.wrraper {
    z-index: 4;
}

.crop_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.controls {
}

.button_area_crop {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    width: 20%;
    button {
        font-size: 20px;
    }
}

.button_area_cancel {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    width: 20%;
    button {
        background-color: var(--white);
        color: var(--black);
        font-size: 20px;
    }
}
