.wrapper {
    --default-card-info-width: 580px;
    --default-chat-content-width: 800px;
    --default-width-type-area: 18rem;
    --default-width-file-chat: 10rem;
    --default-width-media-chat: 20rem;
    --default-width-item-header-send: 12rem;
    --default-width-gif-area: 50rem;

    display: flex;
    flex-direction: column;
    height: var(--default-layout-height);
}

.header {
    flex: 1;
    display: flex;
    align-items: center;
}

.card-img {
    margin-left: var(--default-small-zone);
    width: var(--default-xlarge-icon-size);
    img {
        height: var(--default-xlarge-icon-size);
        border-radius: 50%;
    }
}

.card-info {
    width: var(--default-card-info-width);
    margin-left: var(--default-small-zone);
}

.card-action {
    margin-left: auto;
    margin-right: 20px;
    background-color: white;
    button {
        cursor: pointer;
        padding: var(--default-small-zone);
        margin-left: var(--default-small-zone);
        background-color: transparent;
        border-radius: 90px;
        border: solid black 1px;
        color: var(--primary);
        svg {
            width: var(--default-small-icon-size);
            height: var(--default-small-icon-size);
        }
    }
    :hover {
        background-color: var(--primary);
        color: var(--white);
        svg {
            width: var(--default-large-icon-size);
            height: var(--default-large-icon-size);
        }
    }
}

.card-name {
    width: 100%;
    font-size: var(--default-small-font-size);
}

.card-detail {
    width: 100%;
    font-size: var(--default-small-font-size);
}

.change-type {
    margin-left: var(--default-small-zone);
    button {
        cursor: pointer;
        width: var(--default-small-icon-size);
        height: var(--default-small-icon-size);
        svg {
            width: 100%;
            height: 100%;
            :hover {
                color: var(--primary);
            }
        }
    }
}

.message-area {
    flex: 8;
    display: flex;
    flex-direction: column;
    border: double 5px black;
    overflow-y: scroll;
}

.last-message {
    margin: var(--default-medium-zone);
    text-align: center;
    color: var(--color-text);
    font-size: var(--default-mini-icon-size);
    font-weight: var(--default-medium-font-weight);
}

.type-area {
    width: var(--default-width-type-area);
    border-radius: var(--default-small-zone);
    background: var(--white);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.type-data {
}

.type-title {
    padding: 5px 12px;
    font-size: var(--default-small-font-size);
    font-weight: var(--default-medium-font-weight);
    color: rgba(22, 24, 35, 0.7);
    display: flex;
    align-items: center;
    svg {
        margin-right: var(--default-small-zone);
        width: var(--default-mini-icon-size);
        height: var(--default-mini-icon-size);
    }
}

.type-item {
    font-size: var(--default-mini-icon-size);
    font-weight: bold;
    button {
        width: 100%;
        background-color: transparent;
    }
}

.selectedType {
    background-color: var(--color-text);
    button {
        cursor: auto;
        color: var(--white);
    }
}

.nonSelectType {
    :hover {
        background-color: var(--primary);
    }
}

.wrapper-chat {
    margin-top: var(--default-small-zone);
    display: flex;
    align-items: center;
}

.chat-avatar {
    margin-left: var(--default-small-zone);
    width: var(--default-xlarge-icon-size);
    img {
        height: var(--default-xlarge-icon-size);
        border-radius: 50%;
    }
}

.chat-content {
    color: var(--white);
    padding: 18px 20px;
    line-height: 26px;
    font-size: var(--default-small-font-size);
    border-radius: var(--default-small-zone);
    margin-bottom: var(--default-small-zone);
    position: relative;
    background: black;
    min-width: 90px;
    max-width: var(--default-chat-content-width);
    margin-left: var(--default-small-zone);
    margin-right: var(--default-small-zone);
    word-wrap: break-word;
}

.seen-notification {
    margin-top: auto;
    margin-bottom: 12px;
    color: var(--black);
    font-weight: bold;
}

.chat-content-file {
    display: flex;
    flex-direction: column;
    color: var(--white);
    img {
        width: var(--default-width-file-chat);
        height: var(--default-width-file-chat);
    }
}

.chat-content-gif {
    height: var(--default-width-media-chat);
}

.friend-chat {
    .chat-content {
        &:after {
            bottom: 50%;
            left: 0%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: black;
            border-width: 10px;
            margin-left: -18px;
        }
    }
}

.chat-content-call {
    display: flex;
    svg {
        width: var(--default-small-icon-size);
        height: var(--default-small-icon-size);
    }
}

.chat-content-call-duration {
    margin-left: 10px;
}

.user-chat {
    margin-left: auto;
    .chat-content {
        &:after {
            bottom: 50%;
            left: 100%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-left-color: black;
            border-width: 10px;
            margin-left: 0px;
        }
    }
}

.chat-area {
    flex: 2;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
}

.header-send {
    flex: 3;
    display: flex;
    button {
        width: 100%;
        height: 90%;
        border-radius: 5px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
        svg {
            height: var(--default-small-icon-size);
            width: var(--default-small-icon-size);
        }
    }
    :hover {
        svg {
            height: var(--default-large-icon-size);
            width: var(--default-large-icon-size);
        }
    }
}

.header-send-icon,
.header-send-picture {
    width: var(--default-width-item-header-send);
    display: flex;
    align-items: center;
    margin-left: var(--default-mini-zone);
    button {
        cursor: pointer;
    }
}

.gif-area {
    width: var(--default-width-gif-area);
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--white);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 12px;
}

.gif-data {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    img {
        margin-right: var(--default-mini-zone);
        height: 18rem;
    }
}

.gif-title {
    padding: 5px 12px;
    font-size: var(--default-small-font-size);
    font-weight: var(--default-medium-font-weight);
    color: rgba(22, 24, 35, 0.7);
}

.gif-item {
    display: flex;
}

.container-send {
    flex: 7;
    display: flex;
}

.input-chat {
    flex: 8;
    padding: var(--default-small-zone);
    border-top: solid 1px var(--black);
    border-right: solid 1px var(--black);
    border-radius: 5px;
    input {
        width: 100%;
        height: 100%;
        background-color: var(--white);
        font-size: 1.7rem;
        font-weight: 550;
        line-height: 2rem;
    }
    iframe {
        height: 12rem;
    }
    img {
        height: 12rem;
    }
    button {
        margin-left: 4px;
    }
}

.button-chat {
    flex: 1;
    button {
        height: 100%;
        svg {
            width: var(--default-large-icon-size);
            height: var(--default-large-icon-size);
        }
    }
    :hover {
        svg {
            width: var(--default-xlarge-icon-size);
            height: var(--default-xlarge-icon-size);
        }
    }
}
