.wrapper {
    --default-card-info-width: 580px;
    --default-chat-content-width: 800px;

    display: flex;
    flex-direction: column;
    height: var(--default-layout-height);
    // background-color: aqua;
}

.header {
    flex: 1;
    border: solid 1px black;
    display: flex;
    align-items: center;
}

.card-img {
    margin-left: 8px;
    width: 52px;
    img {
        height: 5rem;
        border-radius: 50%;
    }
}

.card-info {
    width: var(--default-card-info-width);
    margin-left: 8px;
}

.card-action {
    margin-left: auto;
    margin-right: 20px;
    background-color: white;
    button {
        padding: 8px;
        margin-left: 10px;
        background-color: transparent;
        border-radius: 90px;
        border: solid black 1px;
        color: green;
    }
    :hover {
        background-color: green;
        color: white;
    }
}

.card-name {
    width: 100%;
    font-size: large;
}

.card-detail {
    width: 100%;
    font-size: small;
}

.message-area {
    flex: 8;
    display: flex;
    flex-direction: column;
    border: double 5px black;
    overflow-y: scroll;
}

.wrapper-chat {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.chat-avatar {
    margin-left: 8px;
    width: 52px;
    img {
        height: 5rem;
        border-radius: 50%;
    }
}

.chat-content {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 12px;
    position: relative;
    background: black;
    min-width: 90px;
    max-width: var(--default-chat-content-width);
    margin-left: 12px;
    margin-right: 12px;
    word-wrap: break-word;
}

.chat-content-file {
    display: flex;
    flex-direction: column;
    color: white;

    img {
        width: 100px;
        height: 100px;
    }
}

.chat-content-gif {
    height: 200px;
}

.friend-chat {
    .chat-content {
        &:after {
            bottom: 50%;
            left: 0%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: black;
            border-width: 10px;
            margin-left: -18px;
        }
    }
}

.user-chat {
    margin-left: auto;
    .chat-content {
        &:after {
            bottom: 50%;
            left: 100%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-left-color: black;
            border-width: 10px;
            margin-left: 0px;
        }
    }
}

.chat-area {
    flex: 2;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
}

.header-send {
    flex: 3;
    display: flex;
    button {
        width: 100%;
        height: 90%;
        border-radius: 5px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
        svg {
            height: 50px;
        }
    }
}

.header-send-icon,
.header-send-picture {
    width: 8rem;
    display: flex;
    align-items: center;
    margin-left: 5px;
    button {
    }
}

.gif-area {
    width: 60rem;
    max-height: 40rem;

    display: flex;
    flex-direction: column;
    // max-height: min((100vh - 96px) - 60px, 734px);
    // min-height: 100px;
    // padding-top: 8px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.gif-data {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    img {
        margin-right: 5px;
        height: 20rem;
    }
}

.gif-title {
    padding: 5px 12px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.7);
}

.gif-item {
    display: flex;
}

.container-send {
    flex: 7;
    display: flex;
}

.input-chat {
    flex: 8;
    padding: 8px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-radius: 8px;
    input {
        width: 100%;
        height: 100%;
        background-color: white;
        font-size: 1.7rem;
        font-weight: 550;
        line-height: 2rem;
    }
    iframe {
        height: 12rem;
    }
    img {
        height: 12rem;
    }
    button {
        margin-left: 4px;
    }
}

.button-chat {
    flex: 1;
    button {
        height: 100%;
        svg {
            width: 5rem;
            height: 5rem;
        }
    }
}
