.wrraper {
}

.crop_container {
    display: flex;
    padding: var(--default-small-zone);
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--black);
    background-color: var(--white);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.avatar-card {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
        height: calc(var(--default-layout-header-height) / 3 * 2);
        border-radius: 50%;
    }
}

.name-card {
    flex: 1;
    font-size: var(--default-medium-font-size);
}

.call-actions {
    flex: 1;
    display: flex;
    justify-content: center;
    button {
        background-color: transparent;
        color: var(--primary);
    }
    .button-wrraper + .button-wrraper {
        margin-left: var(--default-large-zone);
    }
}

.button-wrraper {
}

@media (max-width: 40rem) {
    .name-card {
        display: none;
    }
}
