body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {}

.login-screen {
  height: 100vh;
}

.row {
  display: flex;
  height: 100%;
}

.col-6 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.background-login {
  background-image: url("/public/assets/images/background-login.png");
  background-size: cover;
}

.description {
  font-size: small;
}

.title {
  font-size: large;
}

.white {
  color: white;
}

p {
  display: block;
}