.wrapper {
    width: 100%;
    height: var(--default-layout-header-heigh, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 361px;
    height: 46px;
    padding: 0 16px;
    display: flex;
    border-radius: 92px;
    background-color: var(--white);
    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
    }
}

.action {
    display: flex;
    align-items: center;
}
